$--bg-color-light: #fff;
$--text-color-light: hsl(0, 0%, 100%);
$--font-color-dark: hsl(20, 0%, 5%);
$--hover-bg-light: #fafdf4;

$--todo-bg-color: hsl(10, 10%, 94%);
$--todo-container-width: 272px;
$--todo-container-height: 300px;
$--todo-border-radius: 3px;
