$--bg-color-light: #fff;
$--hover-bg-light: #fafdf4;
$--primary-color: hsl(210, 79%, 46%);
$--primary-color-transparent: hsla(210, 79%, 46%, 0.8);

$--todo-container-width: 272px;
$--todo-container-height: 300px;
$--todo-border-radius: 3px;
